#!/usr/bin/make -f

%:
	${MAKE} noinstall
	dh $@ --with python3

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/webgame/usr/share/webgame/webgames
	# Copy external sources into the package.
	# They should really be packaged separately.
	mkdir debian/webgame/usr/share/webgame/html
	cp -L html/mgrl.js html/gl-matrix.js debian/webgame/usr/share/webgame/html/
	cd debian/webgame/usr/share/webgame/html ; ln -s ../../python3-websocketd/rpc.js .
	cd debian/webgame/usr/share/webgame/html ; ln -s ../../python3-websocketd/builders.js .
