#mgrl_overlay {
	overflow: hidden;
}

#next {
	display: none;
}

.frame {
	border: solid black 1px;
	border-radius: 1ex;
	margin: 2em;
	padding: 0ex 2ex 0ex 2ex;
	background: #fdd;
}

body.demo > div#vdiv > div#chat > button#next {
	display: block;
	z-index: 1;
}

body {
	--width: 80%;
}

#loading {
	text-align: center;
	font-size: 400%;
	position: fixed;
	top: calc(50vh - .5em);
	left: 0px;
	width: 100%;
	z-index: 2;
}
body:not(.loading) #loading {
	display: none;
}

#vdiv {
	position: fixed;
	background: #444;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#handle {
	position:absolute;
	background: #666;
	top: 0px;
	bottom: 0px;
	left: var(--width);
	width: 1ex;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: var(--width);
	background: #fff
}

#chat {
	position: absolute;
	overflow: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: calc(var(--width) + 1ex);
	background: #ee7;
}

#chatter {
	position: absolute;
	max-height: calc(100% - 3em);
	overflow: auto;
	left: 0px;
	right: 0px;
	bottom: 1.5em;
	box-sizing: border-box;
	padding: 1ex;
	z-index: 0;
}

#chat > input {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	box-sizing: border-box;
	width: 100%;
}

#notitle {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	z-index: 1;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: calc(var(--width) - 5%);
	text-align: center;
	left: 2.5%;
	z-index: 2000;
}

#canvas {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.self {
	font-weight: bold;
}

.hidden {
	display: none;
}

#name {
	float: left;
}

.icon {
	border-radius: 1em;
	width: 1em;
	height: 1em;
}

.spacer {
	display: inline-block;
	width: 3em;
}

:root {
	--sidewidth: 25em;
	--extra: 2em;
	--sidecolor: #dfd;
}

#game {
	background: var(--sidecolor);
}

#players {
	width: calc(var(--sidewidth) - var(--extra) - 2em);
}

#players > tr > td {
	max-width: 99%;
}

#players > tr > td.kick, #players > tr > td.swap {
	width: 4em;
}

#title_num_players {
	width: 3em;
}

#sidebarbutton {
	display: none;
}

#sidebarhider {
	float: right;
	border-radius: 1ex;
	margin-right: calc(var(--extra) * -1 - 1.5ex);
	padding: 1ex 1ex 1ex 1em;
	background: var(--sidecolor);
}

#sidebar {
	border-radius: 1ex;
	z-index: 2000;
	position: absolute;
	width: calc(var(--sidewidth) - 2em - var(--extra));
	transition: left 1s;
	background: var(--sidecolor);
	padding: 1em;
	left: 1ex;
}

#sidebarbutton:checked ~ #sidebar {
	left: calc(var(--sidewidth) * -1 + var(--extra));
}

body.disconnected > #sidebar, body.disconnected > div > #sidebarhider {
	background: red;
}

#title {
	position: absolute;
	overflow: auto;
	left: calc(var(--sidewidth) + 1em + 1ex);
	right: 0px;
	transition: left 1s;
}

#sidebarbutton:checked ~ div > div > #title {
	left: calc(var(--extra) + 1em);
}

#sidebarhide, #sidebarshow {
	display: inline;
}

#sidebarbutton:checked ~ div > p > label > #sidebarhide,
#sidebarbutton:not(:checked) ~ div > p > label > #sidebarshow {
	display: none;
}
