* {
	overflow: hidden;
}

body.disconnected {
	background: red;
}

.start {
	background: red;
}

.running .start {
	background: green;
}

.icon {
	width: 1em;
	height: 1em;
}

#state {
}

#notitle {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
}

#connections {
	clear: both;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 95%;
	left: 2.5%;
	text-align: center;
	z-index: 2000;
}

#canvas {
	background: #ffc;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.self {
	font-weight: bold;
}

.hidden {
	display: none;
}

#leave {
	float: right;
}

#name {
	float: left;
}

#players {
	position: fixed;
	bottom: 2em;
	width: 95%;
}

#players span {
	margin: 0px 2em;
}
